.selector-for-some-widget {
    box-sizing: content-box;
  }

  /* skip-links for accessibility */
.skip-link {
  position: absolute;
  top: -400px;
  left: 0px;
  background: #000;
  color: #fff;
  padding: 8px;
  z-index: 100;
  text-decoration: none;
}

.skip-link:focus {
  top: 0;
}